.card-event {
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray-light);
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 100%;
    margin: 1rem 0;
    transition: 250ms all ease-in-out;
}
.card-event .category-tag{
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: #506ee4;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
}
.card-event .banner-img {
    object-fit: cover;
    height: 12rem;
    width: 100%;
}
.card-event .blog-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 400;
    color: rgb(106, 114, 135);
}

.card-event .link-to-event{
    width: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    text-align: left;
}
.card-event .badge.bg-success{
    background: none !important;
    color: #198754 !important;
    font-weight: 700 !important;
}
.card-event .badge.bg-danger{
    background: none !important;
    color: #dc3545 !important;
    font-weight: 700 !important;
}
.card-event .information-title{
    font-size: 14px;
    font-weight: 400;
    color: rgb(106, 114, 135);
}
.card-event .information-description{
    font-size: 14px;
    font-weight: 400;
    color: rgb(32, 44, 75);
}
.card-event .card-footer{
    background-color: #fff;
}
.card-event .btn-footer{
    font-size: 12px;
    font-weight: 600;
    color: rgb(81, 91, 115);
    border: none;
    background-color: rgb(248, 249, 250) !important;
}
.card-banner:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top right, #48484800, #000000);
    opacity: 1;
    height: 100%;
}
.card-banner{
    position: relative;
}

.card-event .card-banner .action-edit-add{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.card-event .card-banner .action-edit-add a.btn-icon{
    color:#fff;
}
.card-event .card-banner .action-edit-add a i.icon-action{
    color: #fff;
    z-index: 999;
}
.dropdown-item_list a{
    color: #202C4B !important;
    padding: 0.594rem 0.9375rem;
    font-size: 14px;
}
.dropdown-item_list a:active{
    background-color: #F4F6FA;
}